* {
  font-family: "Source Code Pro";
  color: #002b36; }

body {
  background-color: #fdf6e3; }

#main_container {
  margin: auto;
  margin-top: 20%;
  width: 400px;
  height: 300px; }
  #main_container header .name {
    border-bottom: 1px solid #002b36; }
    #main_container header .name h3 {
      font-weight: bold;
      margin-bottom: 3px; }
  #main_container header .email span {
    float: right;
    font-style: italic; }
  #main_container .social_container {
    clear: both;
    margin-top: 70px; }
    #main_container .social_container section.social a {
      margin-left: 20px;
      margin-right: 20px; }
    #main_container .social_container section.social a:first-child {
      margin-left: 0; }
